<!DOCTYPE html>
<html>
<head>
	<title>Flask intro</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css" media="screen">
</head>
<body>
	<div class="container">
		
		<!-- наслідники -->
		{% block content %}{% endblock %}

		<!-- помилка(login) -->
		{% if error %}
			<p class="error"><strong>Error:</strong>{{ error }}</p>
		{% endif %}

		<!-- флешки -->
		{% for message in get_flashed_messages() %}
			{{ message }}
		{% endfor %}
		
	</div>
</body>
</html>